*{
    margin: 0;
    padding: 0;
    display: block;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(../img/back1.jpg);
    background-size: cover;
    background-position-x: repeat;
    display: flex;
    margin-top: 20%;
}

.principal{
    text-align: center;
    color: whitesmoke;
    background-color: brown;
    background-position: cover;
    opacity: 75%;
    
}

.principal__title{
    font-size: 250%;

}

.principal__infos{
    font-size: 100%;
}

@media (max-width: 480px){
    body{
        display: flex;
        margin-top: 10%;
    }
    .principal__title{
        font-size: 200%;
    }
    .principal{
        font-size: 95%;
    }
}

@media (max-width: 767px){
    body{
        display: flex;
        margin-top: 25%;
    }
    .principal__title{
        font-size: 200%;
    }
    .principal{
        font-size: 100%;
    }
} 

@media (min-width: 768px){
    body{
        display: flex;
        margin-top: 30vh;
    }
    .principal__title{
        font-size: 6.5vh;
    }
    .principal{
        font-size: 2vh;
    }
} 

@media (min-width: 1200px){
    body{
        display: flex;
        margin-top: 30vh;
    }
    .principal__title{
        font-size: 6.5vh;
    }
    .principal{
        font-size: 2vh;
    }
} 