*{
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(../img/back1.jpg);
    background-size: cover;
    background-position-x: repeat;
}

.principal{
    text-align: center;
    color: whitesmoke;
    background-color: brown;
    background-position: cover;
    opacity: 75%;
    
}

.principal__title{
    font-size: 20vh;
}

/* @media (min-width: 300px){
    body{
        display: flex;
        margin-top: 2vh;
    }
    .principal__title{
        font-size: 9vh;
    }
    .principal{
        font-size: 3vh;
    }
} 

@media (min-width: 360px){
    body{
        display: flex;
        margin-top: 17vh;
    }
    .principal__title{
        font-size: 6.5vh;
    }
    .principal{
        font-size: 2vh;
    }
}

@media (min-width: 768px){
    body{
        display: flex;
        margin-top: 20vh;
    }
    .principal__title{
        font-size: 6.5vh;
    }
    .principal{
        font-size: 2vh;
    }
} */